@tailwind base;
@tailwind components;
@tailwind utilities;
.neon-text {
  color: #fff;
  text-shadow:
    0 0 5px #facc15,
    0 0 10px #facc15,
    0 0 20px #f472b6,
    0 0 40px #f472b6;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes neonGlow {
  from {
    text-shadow:
      0 0 5px #facc15,
      0 0 10px #facc15;
  }
  to {
    text-shadow:
      0 0 20px #facc15,
      0 0 40px #f472b6;
  }
}
